
/*/////////////////////////////////////

	DEBUT CSS MENU DE NAVIGATION 

/////////////////////////////////////*/

#nomSite{
	margin: auto;
	text-align: center;
	background: #F0F0F0;
	text-decoration:none
}

#rechercheDiv{
	display: none;
}

#recherche{
	display: none;
}

#menuNavigation{
	min-width: 130px;
	max-width: 20%;
	background: rgba(255,255,255,0);
}

.itemMenu{
	list-style-type: none;
 	border: 1px solid black;
}


#barreNavigation{
	width: 100%;
}

#sectionImage{
	text-align: center;
}

ul {
  margin-left:0;
  padding-left:0;
  text-align: center; 
}

 nav > ul > li{
 	margin-left: 5px;
 	margin-right: 5px;
 	padding: 5px;
 }

h3 > a{
	width: 100%;
}

.resultatRecherche{
	text-decoration:none;
}

#tableReseau{
    margin-left:auto; 
	margin-right:auto;
}

.headArticle{
	text-align: center;
}

.bold{
	font-weight: bold;
}

.divImg{
	text-align: center;
}

@media screen and (max-width: 640px){
	p{
		font-size: 2em;
	}
}

 /*/////////////////////////////////////

	FIN CSS MENU DE NAVIGATION 

/////////////////////////////////////*/

